@use "../abstract" as *;

.producers-section {
    padding-block: 100px clamp(0.813rem, 6.139vw - 0.837rem, 4.688rem); //75->13

    .section-title {
        margin-bottom: clamp(1.875rem, 1.98vw + 1.343rem, 3.125rem); //50->30
    }

    .producers-swiper {
        overflow: visible;
    }

    .swiper-slide {
        max-width: fit-content;
    }

    .swiper-navigation {
        margin-top: clamp(1.875rem, 1.98vw + 1.343rem, 3.125rem); //50->30
        column-gap: 14px;

        button {
            width: 18px;
            height: 18px;
        }
    }

    .producer {
        display: flex;
        flex-direction: column;
        row-gap: clamp(1.875rem, 0.99vw + 1.609rem, 2.5rem); //40->30
        justify-content: center;
        align-items: center;
        margin-inline: 60px;

        .producer-name {
            @include font(clamp(1.375rem, 0.99vw + 1.109rem, 2rem), clamp(1.5rem, 1.386vw + 1.127rem, 2.375rem), 500); //32->22 ,38->24
            text-align: center;
            max-width: 245px;
        }

        .image-wrapper {
            border-radius: 100%;
            max-width: 360px;
            aspect-ratio: 1;

            &::before {
                content: '';
                background: #00000080;
                position: absolute;
                inset: 0;
                z-index: 1;
            }

            img {
                min-height: 100%;
                aspect-ratio: 1;
            }
        }
    }
}
