@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/_homeradio/fonts/HelveticaNeue-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/_homeradio/fonts/HelveticaNeue-Roman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/_homeradio/fonts/HelveticaNeue-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/_homeradio/fonts/HelveticaNeue-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/public/_homeradio/fonts/HelveticaNeue-Thin.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}


// @font-face {
//     font-family: 'Helvetica Neue';
//     src: url('/public/_homeradio/fonts/HelveticaNeue-Bold.otf') format('opentype');
//     font-weight: 200;
//     font-style: normal;
// }
